.marker-cluster-custom {
    background: #ff69b4;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px;
  }



  /* mapbox://styles/hrithik16/ckd4brrpr0lwq1ikcket3ov6a */

  /* pk.eyJ1IjoiaHJpdGhpazE2IiwiYSI6ImNrZDRlMTQzZTFwa2kycm83bHIzbTRuMGEifQ.7GxrtXNvTHbImh7E-ZgCjw */

  /* https://api.mapbox.com /styles/v1/hrithik16/ckd4brrpr0lwq1ikcket3ov6a/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiaHJpdGhpazE2IiwiYSI6ImNrZDRlMTQzZTFwa2kycm83bHIzbTRuMGEifQ.7GxrtXNvTHbImh7E-ZgCjw */
