.button {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: medium;
    width: 100%;
    height:70px;
    margin-top: 30px;
    border-radius:0 ;
    border: 0;
    animation-timing-function: ease;
    animation-name: rollin;
    animation-duration: 1.5s;

}

@keyframes rollin {
    from {width : 100%; height: 0;}
    to {width: 100%; height: 70px;}
}


.button:hover {
    width: 100%;
    height: 70px;
    border: 0;
    background-color: rgb(29, 37, 29);
    color: white;
}

#interview {
    margin-left: 20px;
    margin-top: 20px;
}

/* #interview-card{
    border: solid 1px black;
} */

#interview-card:hover{
    border: solid 1px black;
}

/* #companyName-interview{
    font-weight: bold;
    font-size: x-large;
}

#interview-card-content{
    font-weight: 600;
    font-size: medium;
}
 */
