#funds-page-div{
    background-color: white;
    /* margin: auto; */
    margin-left: 140px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: center; */
    /* NEw */
    /* align-content: center; */
    /* End */
    padding-bottom: 20px;
    overflow-x: auto;
}

#fund-card-div{
    margin-bottom: 50px;
}